/* Write your CSS here */
.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/planets-app/planets-bg-img.png');
  min-height: 100vh;
  padding: 30px;
}

@media (min-width: 768px) {
  .app-container {
    padding: 80px;
  }
}

.main-heading {
  text-align: center;
  color: #05acff;
  font-size: 20px;
  font-weight: 600;
  font-family: 'Roboto';
}

@media (min-width: 768px) {
  .main-heading {
    font-size: 40px;
  }
}
